@charset "UTF-8";

/* ************************** index
 * ******************************** */
.main-banner{ background-image: url(../images/main/20_spring_coffee_bg.jpg);
    background-repeat: no-repeat;
    background-position-y: 2px;}
.main-banner .img-area img{margin-left: -80px;
    width: 100%;}  

@media (max-width: 767px){
    .main-banner .img-area img {
        margin-left: 0;
        width: 70%;
    }
}